{% load i18n %}
{% load widget_tweaks %}
<!doctype html>
<html>
<head>
{% if request.user.is_authenticated %}
    <meta http-equiv="REFRESH" content="0;url={% url helpdesk_home %}">
</head>
{% else %}
<meta charset="UTF-8">
<title>QDQmedia HelpDesk</title>
<!--[if IE]>
<script src="http://login.apps.qdqmedia.com/js/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="http://estaticos.qdq.com/css/login-serge.css" ></link>
</head>
<body>
<div id="contenedor">
<div id="contenido" class="estirar">
    <form method='post' action='./'>
        {% if form.errors %}
            <p>{% trans "Your username and password didn't match. Please try again." %}</p>
        {% endif %}
      <h1>HELPDESK</h1>
   	 <fieldset id="inputs">
        {{ form.username|attr:"placeholder:Usuario"|attr:"id:username" }}
        {{ form.password|attr:"placeholder:Contraseña"|attr:"id:password" }}
        <input id="submit" type="submit" value='{% trans "Login" %}' />
        <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}../{% endif %}" />
	  </fieldset>
      {% csrf_token %}
    </form>
</div>
</div>
{% endif %}
</body>
</html>
