{% load i18n %}
{% load url from future %}
{% load saved_queries %}
{% load load_helpdesk_settings %}
{% with request|load_helpdesk_settings as helpdesk_settings %}
{% with request|saved_queries as user_saved_queries_ %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>QDQ media -- HelpDesk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="{{ STATIC_URL }}helpdesk/jquery-1.5.min.js"></script>
    <script src="{{ STATIC_URL }}helpdesk/jquery-ui-1.8.9.custom.min.js" type="text/javascript" language="javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.cleditor.js"></script>
    <script src="{{ STATIC_URL }}helpdesk/jquery.ui.datepicker-es.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>

    <link rel="stylesheet" href="{{STATIC_URL}}/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}helpdesk/jquery-smoothness-theme/jquery-ui-1.8.9.custom.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.cleditor.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}/css/font-awesome.css" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
   {% block helpdesk_head %}{% endblock %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">
            <img width="122" height="25" src="{{STATIC_URL}}/img/qdq-media.png">
            HelpDesk
          </a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Bievenido, <a href="{% url 'helpdesk_user_settings' %}" class="navbar-link">{{ request.user }}</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="{% url 'helpdesk_dashboard' %}">Home</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
              {% if not query %}
                <li>
                    <form id="searchform" class="form-search" method="get" action="{% url 'helpdesk_list' %}">
                        <input type="text" name="q" size="4" class="input-medium search-query" id="search_query" placeholder="{% trans "Search..." %}" title="{% trans "Enter a keyword, or a ticket number to jump straight to that ticket." %}"/>
                        <input type="hidden" name="status" value="1" />
                        <input type="hidden" name="status" value="2" />
                        <input type="hidden" name="status" value="3" />
                        <input type="hidden" name="search_type" value="header" />
                        {% csrf_token %}
                     </form>
                 </li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">MENÚ</li>
              <li class="active"><a href="{% url 'helpdesk_dashboard' %}">Dashboard</a></li>
              <li><a href="{% url 'helpdesk_submit' %}">Nuevo Ticket</a></li>
              <li><a href="{% url 'helpdesk_list' %}">Tickets</a></li>
              <li><a href="{% url 'helpdesk_report_index' %}">Informes y Estadísticas</a></li>
           </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
           <div class="row-fluid">
            <div class="span12">
              {% block helpdesk_body %}{% endblock %}
           </div><!--/span-->
         </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; QDQMEDIA S.A.U</p>
      </footer>

    </div><!--/.fluid-container-->

  </body>
</html>
{% endwith %}
{% endwith %}
