{% extends "helpdesk/base.html" %}{% load i18n %}

{% block helpdesk_title %}{% trans "Create Ticket" %}{% endblock %}

{% block helpdesk_body %}
{% blocktrans %}<h2>Submit a Ticket</h2>

<p>Unless otherwise stated, all fields are required. Please provide as descriptive a title and description as possible.</p>{% endblocktrans %}

<form method="post" action="./" enctype="multipart/form-data" class="form-horizontal">
    {% for field in form %}
        <div class="control-group">
        {% if field.is_hidden %}
            {{ field }}
        {% else %}
            <label class="control-label" for="id_{{ field.name }}">{% trans field.label %}{% if field.field.required %}<span class="red">*</span>{% endif %}</label>
            <div class="controls">
                {{ field }}
            {% if field.errors %}
                <span class="help-inline">{{ field.errors }}</span>
            {% endif %}
            </div>
        {% endif %}
        </div>
    {% endfor %}
    <button class="btn btn-success btn-small" type="submit">{% trans "Submit Ticket" %}</button>
{% csrf_token %}
</form>
<script type="text/javascript">
$(document).ready(function() {
    $("#id_body").cleditor();
    $("#id_due_date").datepicker($.datepicker.regional['es']);
});
</script>
{% endblock %}
