{% extends "helpdesk/base.html" %}{% load i18n %}
{% block helpdesk_title %}{{ helpdesk_settings.HELPDESK_PREPEND_ORG_NAME|default:'' }} {% trans "Helpdesk Dashboard" %}{% endblock %}

{% block helpdesk_body %}
<table class="table table-hover">
    <caption>Resumen de estado de tickets</caption>
    <tr>
        <th>{% trans "Queue" %}</th>
        <th>{% trans "Open" %}</th>
        <th>{% trans "Resolved" %}</th>
        <th>{% trans "Closed" %}</th>
    </tr>
    {% for queue in dash_tickets %}
    <tr>
        <th><a href='{% url helpdesk_list %}?queue={{ queue.queue }}&status=1&status=2'>{{ queue.name }}</a>
        </th>
        <td>{% if queue.open %}<a href='{% url helpdesk_list %}?queue={{ queue.queue }}&status=1&status=2'>{% endif %}{{ queue.open }}{% if queue.open %}</a>{% endif %}
        </td>
        <td>{% if queue.resolved %}<a href='{% url helpdesk_list %}?queue={{ queue.queue }}&status=3'>{% endif %}{{ queue.resolved }}{% if queue.resolved %}</a>{% endif %}</td>
        <td>{% if queue.closed %}<a href='{% url helpdesk_list %}?queue={{ queue.queue }}&status=4'>{% endif %}{{ queue.closed }}{% if queue.closed %}</a>{% endif %}</td>
     </tr>
    {% endfor %}
</table>

<br/>

{% if helpdesk_settings.HELPDESK_DASHBOARD_BASIC_TICKET_STATS %}
<table class="table table-hover">
    <tr><td colspan='2'><i>{% trans "Current Ticket Stats" %}</i></td></tr>
    <tr><td colspan='2'>- {% trans "Average number of days until ticket is closed (all tickets): " %}<strong style="color: red;">{{ basic_ticket_stats.average_nbr_days_until_ticket_closed }}</strong>.</td></tr>
    <tr><td colspan='2'>- {% trans "Average number of days until ticket is closed (tickets opened in last 60 days): " %}<strong style="color: red;">{{ basic_ticket_stats.average_nbr_days_until_ticket_closed_last_60_days }}</strong>.
    {% trans "Click" %} <strong><a href="{% url helpdesk_report_index %}daysuntilticketclosedbymonth">here</a></strong> {% trans "for detailed average by month." %} </td></tr>
    <tr><td colspan='2'>- {% trans "Distribution of open tickets, grouped by time period:" %}</td></tr>
    <tr class='row_columnheads'><th>{% trans "Days since opened" %}</th><th>{% trans "Number of open tickets" %}</th></tr>
    {% for entry in basic_ticket_stats.open_ticket_stats %}
    <tr>
        <th>{{ entry.0 }}</th>
        <td><span style="color: {{ entry.2 }};">{% if entry.1 > 0 %}<a href="{% url helpdesk_list %}?{{ entry.3 }}">{{ entry.1 }}</a>{% else %}{{ entry.1 }}{% endif %}</span></td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<br/>

{% if all_tickets_reported_by_current_user %}
<table class="table table-hover">
    <caption>{% trans "All Tickets submitted by you" %}</caption>
    <tr>
        <th>{% trans "[Queue-Num]" %}</th>
        <th>{% trans "Pr" %}</th>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Queue" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Last Update" %}</th>
    </tr>
    {% for ticket in all_tickets_reported_by_current_user %}
    <tr>
        <th><a href='{{ ticket.get_absolute_url }}'>{{ ticket.ticket }}</a></th>
            <td>{{ ticket.get_priority_span }}</td>
        <th><a href='{{ ticket.get_absolute_url }}'>{{ ticket.title }}</a></th>
        <td>{{ ticket.queue }}</td>
        <td>{{ ticket.get_status }}</td>
        <td>
            <span title='{{ ticket.modified|date:"r" }}'>{{ ticket.modified|timesince }}</span>
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}

<br/>

<table class="table table-hover">
    <caption>{% trans "Open Tickets assigned to you (you are working on this ticket)" %}</caption>
    <tr>
        <th>{% trans "[Queue/Num]" %}</th>
        <th>{% trans "Pr" %}</th>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Queue" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Last Update" %}</th>
    </tr>
    {% for ticket in user_tickets %}
    <tr>
        <th><a href='{{ ticket.get_absolute_url }}'>{{ ticket.ticket }}</a></th>
        <td>{{ ticket.get_priority_span }}</td>
        <th><a href='{{ ticket.get_absolute_url }}'>{{ ticket.title }}</a></th>
        <td>{{ ticket.queue }}</td>
        <td>{{ ticket.get_status }}</td>
        <td><span title='{{ ticket.modified|date:"r" }}'>{{ ticket.modified|timesince }}</span></td>
    </tr>
    {% empty %}
    <tr>
        <td colspan='5'>{% trans "You have no tickets assigned to you." %}</td>
    </tr>
    {% endfor %}
</table>

<br/>

<table class="table table-hover">
    <caption>{% trans "Unassigned Tickets" %} {% trans "(pick up a ticket if you start to work on it)" %}</caption>
    <tr>
        <th>{% trans "[Queue/Num]" %}</th>
        <th>{% trans "Pr" %}</th>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Queue" %}</th>
        <th>{% trans "Created" %}</th>
        <th>&nbsp;</th>
     </tr>
    {% for ticket in unassigned_tickets %}
    <tr>
        <th><a href='{{ ticket.get_absolute_url }}'>{{ ticket.ticket }}</a></th>
        <td>{{ ticket.get_priority_span }}</td>
        <th><a href='{{ ticket.get_absolute_url }}'>{{ ticket.title }}</a></th>
        <td>{{ ticket.queue }}</td>
        <td><span title='{{ ticket.created|date:"r" }}'>hace {{ ticket.created|timesince }}</span></td>
        <th>
            <a href='{{ ticket.get_absolute_url }}?take'>
                <button class="btn btn-success btn-small" type="button">{% trans "Take" %}</button>
            </a>
            {% if helpdesk_settings.HELPDESK_DASHBOARD_SHOW_DELETE_UNASSIGNED %}
             <a href='{% url helpdesk_delete ticket.id %}'>
                <button class="btn btn-danger btn-small" type="button">{% trans "Delete" %}</button>
             </a>
            {% endif %}
        </th>
    </tr>
    {% empty %}
    <tr class='row_odd'><td colspan='6'>{% trans "There are no unassigned tickets." %}</td></tr>
    {% endfor %}
</table>

{% if user_tickets_closed_resolved %}
<br/>
<table class="table table-hover">
    <caption>{% trans "Closed & resolved Tickets you used to work on" %}</caption>
    <tr>
        <th>{% trans "[Queue-Num]" %}</th>
        <th>{% trans "Pr" %}</th>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Queue" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Last Update" %}</th>
    </tr>
    {% for ticket in user_tickets_closed_resolved %}
    <tr>
        <th><a href='{{ ticket.get_absolute_url }}'>{{ ticket.ticket }}</a></th>
        <td>{{ ticket.get_priority_span }}</td>
        <th><a href='{{ ticket.get_absolute_url }}'>{{ ticket.title }}</a></th>
        <td>{{ ticket.queue }}</td>
        <td>{{ ticket.get_status }}</td>
        <td><span title='{{ ticket.modified|date:"r" }}'>{{ ticket.modified|timesince }}</span></td>
    </tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
