{% extends "helpdesk/base.html" %}{% load i18n %}

{% block helpdesk_title %}{% trans "Edit Ticket #{{ ticket_id }}" %}{% endblock %}

{% block helpdesk_head %}
<script type="text/javascript">
$(document).ready(function() {
    $("#id_description").cleditor();
    $("#id_due_date").datepicker($.datepicker.regional['es']);
});
</script>
{% endblock %}

{% block helpdesk_body %}
{% blocktrans %}
<h2>Edit Ticket #{{ ticket_id }}</h2>
<p>
    <em>Unless otherwise stated, all fields are required. Please provide as descriptive a title and description as possible.</em>
</p>
<p>
    <strong>Note:</strong> <em>Editing a ticket does <strong>not</strong> send an e-mail to the ticket owner or submitter. No new details should be entered, this form should only be used to fix incorrect details or clean up the submission.</em>
</p>
{% endblocktrans %}

<form method="post" action="./" class="form-horizontal">
    {% for field in form %}
        <div class="control-group">
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                <label class="control-label" for="id_{{ field.name }}">{% trans field.label %}{% if field.field.required %}<span class="red">*</span>{% endif %}</label>
                <div class="controls">
                    {{ field }}
                {% if field.errors %}
                    <span class="help-inline">{{ field.errors }}</span>
                {% endif %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <button class="btn btn-success btn-small" type="submit">{% trans "Save Changes" %}</button>
    {% csrf_token %}
</form>
{% endblock %}
