{% extends "helpdesk/base.html" %}{% load i18n %}
{% block helpdesk_title %}{% trans "Edit followup" %}{% endblock %}
{% block helpdesk_head %}{% endblock helpdesk_head %}

{% block helpdesk_body %}

{% include "helpdesk/ticket_desc_table.html" %}

<h3>{% trans "Edit FollowUp" %}</h3>
<form action="." method="POST" name="edit_followup_form" class="form-horizontal">
{{ form.ticket }}
{{ form.errors }}
     <div class="control-group">
        <label class="control-label" for="id_comment">{% trans "Comment:"%}{% if field.field.required %}<span class="red">*</span>{% endif %}</label>
        <div class="controls">
            {{ form.comment }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_public">{% trans "Public:"%}{% if field.field.required %}<span class="red">*</span>{% endif %}</label>
        <div class="controls">
            {{ form.public }}
        </div>
    </div>
   <button class="btn btn-success btn-small" type="submit">{% trans "Update Ticket" %}</button>
<input type="hidden" value="{{ form.ticket.id }}" >
{% csrf_token %}
</form>
<script type="text/javascript">
$(document).ready(function() {
    $("#id_comment").cleditor();
});
</script>
{% endblock helpdesk_body %}
