{% extends "helpdesk/base.html" %}

{% load i18n %}
{% load stringdate %}

{% block helpdesk_title %}{% trans "View Ticket Details" %}{% endblock %}
{% block helpdesk_head %}
<script type="text/javascript">
    $(document).ready(function() {

        $('.AddAnotherFile>a').live('click', function(event) {
            event.preventDefault();
            $("#FileUpload").append('<div class="control-group"><label class="control-label" for="id_file">{% trans "Attach a File" %}</label><div class="controls"><input type="file" name="attachment" id="file" multiple > <span class="AddAnotherFile">(<a href="#">{% trans "Add Another File" %}</a>)</span> </div></div>');
        });

        $('#ShowFurtherEditOptions').click(function() {
            $('#FurtherEditOptions').slideToggle("slow");
        });

        if ($('#FurtherEditOptions').length > 0) {
            $('#FurtherEditOptions').hide();
        }

        $('#ShowFileUpload').click(function() {
            $('#FileUpload').slideToggle('slow');
        });

        if ($('#FileUpload').length > 0) {
            $('#FileUpload').hide();
        }

        $('#add-followup>form').hide();

        $('#add-followup>h3>a').click(function(event) {
            event.preventDefault();
            $('#add-followup>form').slideToggle('slow');
        });

        $('#id_preset').change(function() {
            preset = $('#id_preset').val();
            if (preset != '') {
                $.get('{% url helpdesk_raw 'preset' %}?id=' + preset, function(data) {
                    $('#commentBox').val(data)
                });
            }
        });

        if ($('#followup-data').length > 0) {
            $('#followup-data').hide();
        }

        $('#followup-h3>a').click(function(event) {
            event.preventDefault();
            $('#followup-data').slideToggle('slow');
        });

        if ($('#commentBox').length > 0) {
            $('#commentBox').cleditor();
        }

        if ($('#id_due_date').length > 0) {
            $('#id_due_date').datepicker($.datepicker.regional['es']);
        }
    });
</script>
{% endblock %}

{% block helpdesk_body %}

{% include "helpdesk/ticket_desc_table.html" %}

{% include "helpdesk/ticket_followups.html" %}

{% include "helpdesk/ticket_answers.html" %}

{% endblock %}
