{% load i18n %}
{% load ticket_status %}

<div id="add-followup">
<h3><a href="#">{% trans "Respond to this ticket" %}</a></h3>

<form method="post" action="update/" enctype="multipart/form-data" class="form-horizontal">
    {% if preset_replies %}
        <div class="control-group">
            <label class="control-label" for="id_preset">{% trans "Use a Pre-set Reply" %}</label>
            <div class="controls">
                <select name='preset' id='id_preset'><option value=''>------</option>{% for preset in preset_replies %}<option value='{{ preset.id }}'>{{ preset.name }}</option>{% endfor %}
                </select>
            </div>
     </div>
    {% endif %}

    {% if helpdesk_settings.HELPDESK_UPDATE_PUBLIC_DEFAULT %}
        <input type="hidden" name="public" value="1" />
    {% else %}
        <div class="control-group">
            <label class="control-label" for="id_public">{% trans "Is this update public?" %}</label>
            <div class="controls">
                <input type="checkbox" name="public" value="1" checked="checked" />
            </div>
        </div>
    {% endif %}

    <div class="control-group">
       <label class="control-label" for="commentBox">{% trans "Comment / Resolution" %}</label>
        <div class="controls">
            <textarea rows='8' cols='70' name='comment' id='commentBox'></textarea>
        </div>
     </div>
    <div class="control-group">
       <label class="control-label" for="new-status">{% trans "New Status" %}</label>
        {% if not ticket.can_be_resolved %}{% trans "This ticket cannot be resolved or closed until the tickets it depends on are resolved." %}{% endif %}
        <div class="controls">
        {% get_html_ticket_status ticket.status %}
        </div>
     </div>

    <div class="control-group" id="ShowFileUpload">
        <a>{% trans "Attach File(s) &raquo;" %}</a>
    </div>
    <div id="FileUpload">
         <div class="control-group">
             <label class="control-label" for="id_file">{% trans "Attach a File" %}</label>
             <div class="controls">
                 <input type="file" name="attachment" id="file" multiple > <span class="AddAnotherFile">(<a href="#">{% trans "Add Another File" %}</a>)</span>
             </div>
         </div>
    </div>

     <button class="btn btn-small btn-success" type="submit">{% trans "Save ticket" %}</button>

{% csrf_token %}
</form>

</div>
<script type="text/javascript">
$(document).ready(function() {
    $("#commentBox").cleditor();
});
</script>
