{% load i18n %}

<div id="add-followup">
<h3><a href="#">{% trans "Respond to this ticket" %}</a></h3>

<form method="post" action="update/" enctype="multipart/form-data" class="form-horizontal">
    {% if preset_replies %}
        <div class="control-group">
            <label class="control-label" for="id_preset">{% trans "Use a Pre-set Reply" %}</label>
            <div class="controls">
                <select name='preset' id='id_preset'><option value=''>------</option>{% for preset in preset_replies %}<option value='{{ preset.id }}'>{{ preset.name }}</option>{% endfor %}
                </select>
            </div>
     </div>
    {% endif %}

    {% if helpdesk_settings.HELPDESK_UPDATE_PUBLIC_DEFAULT %}
        <input type="hidden" name="public" value="1" />
    {% else %}
        <div class="control-group">
            <label class="control-label" for="id_public">{% trans "Is this update public?" %}</label>
            <div class="controls">
                <input type="checkbox" name="public" value="1" checked="checked" />
            </div>
        </div>
    {% endif %}

    <div class="control-group">
       <label class="control-label" for="commentBox">{% trans "Comment / Resolution" %}</label>
        <div class="controls">
            <textarea rows='8' cols='70' name='comment' id='commentBox'></textarea>
        </div>
     </div>
    <div class="control-group">
       <label class="control-label" for="new-status">{% trans "New Status" %}</label>
        {% if not ticket.can_be_resolved %}{% trans "This ticket cannot be resolved or closed until the tickets it depends on are resolved." %}{% endif %}
        <div class="controls">
            {% ifequal ticket.status 1 %}
                <label class="checkbox inline active">
                    <input type="radio" name="new_status" id="st_open" value="1" checked="checked"> {% trans "Open" %}
                </label>
                <label class="checkbox inline active" for='st_resolved'>
                    <input type="radio" name="new_status" id="st_resolved" value="3" {% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}> {% trans "Resolved" %}
                </label>
                <label class="checkbox inline active" for='st_closed'>
                    <input type="radio" name="new_status" id="st_closed" value="4" {% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}> {% trans "Closed" %}
                </label>
                <label class="checkbox inline active" for='st_duplicate'>
                    <input type="radio" name="new_status" id="st_duplicate" value="5"> {% trans "Duplicate" %}
                </label>
            {% endifequal %}
            {% ifequal ticket.status 2 %}
                <label class="checkbox inline active" for="st_reopened">
                    <input type="radio" name="new_status" id="st_reopened" value="2" checked="checked"> {% trans "Reopened" %}
                </label>
                <label class="checkbox inline active" for="st_resolved">
                    <input type="radio" name="new_status" id="st_resolved" value="3" checked="checked" {% if not ticket.can_be_resolved %} disabled="disabled"{% endif %}> {% trans "Reopened" %}
                </label>
                <label class="checkbox inline active" for="st_closed">
                    <input type="radio" name="new_status" id="st_closed" value="4" checked="checked" {% if not ticket.can_be_resolved %} disabled="disabled"{% endif %}> {% trans "Closed" %}
                </label>
                <label class="checkbox inline active" for="st_duplicate">
                    <input type="radio" name="new_status" id="st_duplicate" value="5" checked="checked"> {% trans "Duplicate" %}
                </label>
             {% endifequal %}
             {% ifequal ticket.status 3 %}
                <label class="checkbox inline active" for="st_duplicate">
                    <input type="radio" name="new_status" id="st_reopened" value="2"> {% trans "Reopened" %}
                </label>
                <label class="checkbox inline active" for="st_resolved">
                    <input type="radio" name="new_status" id="st_resolved" value="3"> {% trans "Resolved" %}
                </label>
                <label class="checkbox inline active" for="st_closed">
                    <input type="radio" name="new_status" id="st_closed" value="4"> {% trans "Closed" %}
                </label>
            {% endifequal %}
            {% ifequal ticket.status 4 %}
                 <label class="checkbox inline active" for="st_reopened">
                    <input type="radio" name="new_status" id="st_reopened" value="2"> {% trans "Reopened" %}
                </label>
                 <label class="checkbox inline active" for="st_closed">
                    <input type="radio" name="new_status" id="st_closed" value="4"> {% trans "Closed" %}
                </label>
            {% endifequal %}
            {% ifequal ticket.status 5 %}
                 <label class="checkbox inline active" for="st_reopened">
                    <input type="radio" name="new_status" value="2" id="st_reopened">{% trans "Reopened" %}
                 </label>
                 <label class="checkbox inline active" for="st_duplicate">
                    <input type="radio" name="new_status" value="5" id="st_duplicate" checked="checked">{% trans "Duplicate" %}
                 </label>
            {% endifequal %}

        </div>
     </div>

    <div class="control-group" id="ShowFileUpload">
        <a>{% trans "Attach File(s) &raquo;" %}</a>
    </div>
    <div id="FileUpload">
         <div class="control-group">
             <label class="control-label" for="id_file">{% trans "Attach a File" %}</label>
             <div class="controls">
                 <input type="file" name="attachment" id="file" multiple > <span class="AddAnotherFile">(<a href="#">{% trans "Add Another File" %}</a>)</span>
             </div>
         </div>
    </div>

     <button class="btn btn-small btn-success" type="submit">{% trans "Save ticket" %}</button>

{% csrf_token %}
</form>

</div>
<script type="text/javascript">
$(document).ready(function() {
    $("#commentBox").cleditor();
});
</script>
