body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

input#search_query {
    margin-top: 7px;
}

span.red {
    color: red;
    font-weight: bold;
    padding-left: 4px;
}

#messages {
    text-align: center;
    background-color: #C9DFAF;
}

.messages li {
    list-style-type: none;
}

.errorlist ul {
    text-align: left;
}

.errorlist li {
    list-style-type: none;
    background-color: #ffdddd;
    padding-left: 0px;
    margin-left: 0px;
}

div#button-tickets {
    margin-top: 15px;
    text-align: right;
}
